// Navbar mobile button styling

.navbar-burger-btn {
  background-color: transparent;
  border: none;

  div {
    transition: 0.3s ease-in-out;
    background-color: var(--secondary-color);
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
  }
}

.burger-clicked {
  div {
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
