// Navbar mobile button styling (burger menu)

.navbar-burger-btn {
  background-color: transparent;
  border: none;

  div {
    transition: 0.3s ease-in-out;
    background-color: var(--secondary-color);
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
  }
}

.burger-clicked {
  div {
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

// Hero Banner CTA button styling

.landing-button {
  padding: 1em 1em;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  font-size: 1.7em;
  margin-top: 2em;
  color: var(--white-color);
  background-color: var(--primary-color);
  // box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 2vw;
    border-radius: 50em;
    position: absolute;
    right: 25%;
    top: 52%;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: var(--white-color);
      color: var(--primary-color);
      // box-shadow: 2px 1px 8px rgb(0, 0, 0, 0.2);
    }
  }
}
