// Navbar mobile button styling

.navbar-burger-btn {
  background-color: transparent;
  border: none;

  div {
    background-color: var(--secondary-color);
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
  }
}
