.footer {
  background-color: var(--secondary-color);
  min-height: 12em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5em;
    min-height: 8em;
  }
}

.footerlogo {
  width: 3em;
  margin-bottom: 2em;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footername {
  font-family: ff-nexus-typewriter, sans-serif;
  color: #ffffff;
  font-size: 1.5em;
}
