.navbar {
  width: 100%;
  min-height: 120px;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .navbar-burger-btn {
    display: block;
    z-index: 2;
    margin-right: var(--default-spacing);

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.navbar-logo {
  width: 5rem;
  margin-left: 3rem;

  @media screen and (max-width: 768px) {
    margin-left: var(--default-spacing);
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 120px;
}

.navbar-links {
  margin: 0 3rem 0 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navbar-link {
  margin-left: var(--default-spacing);
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease-in;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}

.navbar-open {
  display: flex;

  .navbar-links {
    animation: menuAppear 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: var(--additional-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    a {
      margin: var(--default-spacing) 0;
    }

    .navbar-link {
      margin: var(--small-spacing) 0;
      border: none;
      color: var(--white-color);
      background-color: var(--secondary-color);
      border: 3px solid var(--secondary-color);
      font-size: 2rem;
      font-weight: 500;
      padding: var(--default-spacing);

      &:hover {
        background-color: var(--white-color);
        color: var(--additional-color);
      }
    }
  }

  .navbar-logo-container {
    z-index: 2;
  }
}

@keyframes menuAppear {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes menuDisappear {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
