.skills-icon-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-icon {
  width: 10em;
}

.skills-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1em;
    margin-top: 2em;
    margin: 0 5rem;
  }
}

.single-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
