:root {
  // Colors
  --primary-color: #3dbaff;
  --secondary-color: #3d59ff;
  --additional-color: #8dd7ff;
  --white-color: #ffffff;
  --test-color: rgb(181, 181, 255);

  // Fonts

  --primary-font: forma-djr-text, sans-serif;
  --secondary-font: ff-nexus-typewriter, sans-serif;

  // Spacing
}
